 body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 244, 239);
}

h1{
    font-size: medium;
}

div #main {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

div #middle{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: blueviolet;
}

.form{
    box-shadow: 2px 2px 7px black;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width:70vh;
    height: 40vh;
    padding: 20px;
    align-items: center;
}

.form input { 
    border: solid 1px black;
    width: 25vh;
    height: 3vh;
    border-radius: 10px;
    display: inline;    
    align-items: center;
    justify-self: center;
}

.form ::placeholder {
    color: blueviolet;
}

.form button {
    padding: 7px;
    width: 15vh;
    border: solid 1px blueviolet;
    transition: 0.7s;
}

.form button:hover {
    color: white;
    background-color: blueviolet;
   
}
